.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* BASIC STYLING */

.content {
  display: flex;
  flex-direction: column;
}

.App {
  width: 75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.player-list {
  display: flex;
  justify-content: center;
}

.player-card {
  border: 1px solid black;
  margin: 10px 0;
}

.nav-bar {
  width: 100%;
  background: grey;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links {
  width: 50%;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin: 0 10px;
  font-weight: bold;
}

/* DARK MODE */

.dark-mode-toggle {
  background: red;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  width: 50px;
  margin-right: 5%;
}

.toggle-div {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.toggle {
  background: blue;
  border-radius: 50px;
  height: 18px;
  left: 0;
  transition: 0.2s;
  width: 22.5px;
  margin-right: 5%;
}

.toggled {
  left: 20px;
}

.dark-mode {
  color: #fff;
  background-color: #313843;
}